<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="assets/title.png">
</div>
<ul>
  <li><a routerLink="/main" routerLinkActive="active">Main page</a></li>
  <li><a routerLink="/characters" routerLinkActive="active">Characters</a></li>
  <li><a routerLink="/monsters" routerLinkActive="active">Monsters</a></li>
  <li><a routerLink="/popularity" routerLinkActive="active">Popularity Poll</a></li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
