<div class = "slideshow-container">
  <div class="mySlides fade" *ngFor='let character of characters'>
      <h2>{{character.name}}</h2>
      <img src= "{{'assets/' + character.name + '.jpg' | lowercase}}" style="width:100%">
      <div class="text">{{character.description}}</div>
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
  <div style="text-align:center">
    <span class="dot" *ngFor='let c of characters;let i = index;let first = first'
    (click)="currentSlide(i + 1)" [ngClass]='{active: first}'>
    </span>
  </div>
</div>
